---
import Layout from "../layouts/Layout.astro";
import TitlePage from "../components/titlePage.astro";

// Importa cualquier cosa que necesites aquí. En este caso, no necesitas importar React.
const pintures = [
  "/img/services/pinture1.webp",
  "/img/services/pinture2.webp",
  "/img/services/pinture3.webp",
  "/img/services/pinture4.webp",
  "/img/services/pinture5.webp",
  "/img/services/pinture6.webp",
  "/img/services/pinture7.webp",
  "/img/services/pinture8.webp",
];
const roofs = [
  "/img/services/roof1.webp",
  "/img/services/roof2.webp",
  "/img/services/roof3.webp",
  "/img/services/roof4.webp",
];

const windows = [
  "/img/services/window1.webp",
  "/img/services/window2.webp",
  "/img/services/window3.webp",
  "/img/services/window4.webp",
  "/img/services/window5.webp",
  "/img/services/window6.webp",
];
---

<Layout title="Gallery">
  <TitlePage title="Gallery" />
  <div class="max-w-7xl mx-auto text-center p-5 animate-fade duration-[4000ms]">
    <div class="mb-24">
      <h1 class="text-xl md:text-3xl font-bold mb-5">Sealing Services</h1>
      <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing.webp"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing2.webp"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing14.webp"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing4.webp"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing5.webp"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing6.webp"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing7.webp"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing8.webp"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing9.webp"
              alt=""
            />
          </div>
        </div>
        <div class="grid gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing10.webp"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing13.webp"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="/img/services/sealing12.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <hr class="mb-5">
    <div class="mb-16">
      <h1 class="text-xl md:text-3xl font-bold mb-5">
        Interior and Exterior Painting
      </h1>
      <div class="-m-1 flex flex-wrap md:-m-2">
        {
          pintures.map((pinture, index) => (
            <div class="flex w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3 md:p-2">
              <img
                class="block mx-auto h-full object-cover object-center rounded-lg shadow-md transition duration-300 ease-in-out hover:scale-105"
                src={pinture}
                alt={`Gallery item ${index}`}
              />
            </div>
          ))
        }
      </div>
    </div>
    <hr class="mb-5">
    <div class="mb-16">
      <h1 class="text-xl md:text-3xl font-bold mb-5">Roof Cleaning</h1>
      <div class="-m-1 flex flex-wrap md:-m-2">
        {
          roofs.map((roof, index) => (
            <div class="flex w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3 md:p-2">
              <img
                class="block mx-auto h-full object-cover object-center rounded-lg shadow-md transition duration-300 ease-in-out hover:scale-105"
                src={roof}
                alt={`Gallery item ${index}`}
              />
            </div>
          ))
        }
      </div>
    </div>
    <hr class="mb-5">
    <div class="mb-16">
      <h1 class="text-xl md:text-3xl font-bold mb-5">Window Cleaning</h1>
      <div class="-m-1 flex flex-wrap md:-m-2">
        {
          windows.map((window, index) => (
            <div class="flex w-full sm:w-1/2 md:w-1/3 lg:w-1/4 p-3 md:p-2">
              <img
                class="block mx-auto h-full object-cover object-center rounded-lg shadow-md transition duration-300 ease-in-out hover:scale-105"
                src={window}
                alt={`Gallery item ${index}`}
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
