---
export interface CardProps {
  title: string;
  description: string;
  imageUrl: string;
  UrlRef: string;
}

const { title, description, imageUrl, UrlRef } = Astro.props;
---

<div
  class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md flex flex-col h-full"
>
  <img
    class="rounded-t-lg object-cover w-full h-56"
    src={imageUrl}
    alt={title}
  />

  <div class="p-5 flex-grow flex flex-col text-center">
    <h5
      class="text-2xl font-bold tracking-tight text-gray-800 mb-2 overflow-hidden"
      style="max-height: 4.5rem;"
    >
      {title}
    </h5>
    <p class="text-sm text-gray-700 flex-grow overflow-y-auto">
      {description}
    </p>
  </div>

  <hr class="my-0" />

  <div class="p-5 text-center">
    <a
      href={UrlRef}
      class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-800 rounded-lg hover:bg-blue-900 focus:outline-none focus:ring-4"
    >
      Read more
      <svg
        class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
        aria-hidden="true"
        fill="none"
        viewBox="0 0 14 10"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 5h12m0 0L9 1m4 4L9 9"></path>
      </svg>
    </a>
  </div>
</div>
